// Here you can add other styles
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700|Signika+Negative:700');
.dashboard-card > h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}

.col-sm-6.col-lg-2 > .card:hover {
    cursor: pointer;
    z-index: 9999999;
    height: 95%;
    width: 105%;
    margin-left: -2.5%;
    margin-top: -2.5%;
}

.card {
    box-shadow: 0px 0px 10px rgba(180, 180, 180, 0.623);
    border: 0px;
}

header.app-header.navbar {
    border-bottom: 1px solid $primary;
}

.navbar-brand-full {
    padding-left: 10px;
}

.has-account {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 0px;
}